<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAARTHI</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/contactNavbar.css">
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>

    {{>header}}

    <div class="wrapper">

      <a href="#" class="card hover line">
        <img class="image" src="/img/help.jpg" alt="">
        
        <h2 class="title">Need Help</h2>
        
        <p class="text">Help</p>
      </>

      <a href="#" class="card hover line">
        <img class="image" src="img/customer.jpg" alt="">
        
        <h2 class="title">Customer Support</h2>
        
        <p class="text">Contact us</p>
      </>

      <a href="#" class="card hover line">
        <img class="image" src="img/developer.png" alt="">
        
        <h2 class="title">Developers</h2>
        
        <p class="text">Piece of Cake</p>
      </>

    </div>


</body>
</html>