<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAARTHI</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/contactNavbar.css">
    <link rel="stylesheet" href="css/HomeProgressbar.css">
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>

    {{>ProgressBar}}

    {{>header}}

    <div class="wrapper">

      <a href="#" class="card hover line">
        <img class="image" src="/img/help.jpg" alt="">
        
        <h2 class="title">Need Help</h2>
        
        <p class="text">Help</p>
      </>

      <a href="#" class="card hover line">
        <img class="image" src="img/customer.jpg" alt="">
        
        <h2 class="title">Customer Support</h2>
        
        <p class="text">Contact us</p>
      </>

      <a href="#" class="card hover line">
        <img class="image" src="img/developer.png" alt="">
        
        <h2 class="title">Developers</h2>
        
        <p class="text">Piece of Cake</p>
      </>

    </div>

    
    <script>
      
      let progress = document.getElementById('progressbar');
      let totalHeight = document.body.scrollHeight - window.innerHeight;
      window.onscroll = function() {myFunction()};

      function myFunction() {


          var x = document.getElementById("sticky_navbar");
          let progressHeight = (window.pageYOffset / totalHeight) * 100;
          progress.style.height = progressHeight + "%";

          if (document.body.scrollTop > 54 || document.documentElement.scrollTop > 54) {
              // document.getElementById("sticky_navbar").className = "sticky-navbar-properties";

                  x.style.display = "flex";
                  x.style.position = "fixed";
                  x.style.background = "white";
                  x.style.alignContent = "center";
                  x.style.justifyContent = "space-around";
                  x.style.width = "100%";
                  x.style.minHeight = "8vh";
                  x.style.top = "0";
                  x.style.left = "-80";
              
          } else {
              // document.getElementById("sticky_navbar").className = "";
              x.style.display = "none";
          }
      }
      // ----------------------------------------------------------------------------------------------------------------------------



      // ---------------------------------Burger sign------------------------------------------------------------------------------
      const navSlide = () => {
          
          const burger = document.querySelector('.burger');
          const nav = document.querySelector('.nav-links');
          const navLinks = document.querySelectorAll('.nav-links li');

          burger.addEventListener('click', () => {
              nav.classList.toggle('nav-active');

              navLinks.forEach((link, index) => {
                  if (link.style.animation) {
                      link.style.animation = ''
                              nav.style ='background:white';


                  }
                  else {
                      link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.3}s`;
                  }
              });

              burger.classList.toggle('toggle');
              
          });

      }

      navSlide();
      // ----------------------------------------------------------------------------------------------------------------------------


    </script>

</body>
</html>