<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAARTHI</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/contactNavbar.css">
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>

    {{>header}}

    <div class="wrapper">

  <article class="card hover line">
  <img class="image" src="https://webstockreview.net/images/clipart-borders-pizza.png" alt="">
  
  <h2 class="title">I like food.</h2>
  
  <p class="text">Food is good.</p>
</article>

<article class="card hover line">
  <img class="image" src="https://webstockreview.net/images/clipart-borders-pizza.png" alt="">
  
  <h2 class="title">I like food.</h2>
  
  <p class="text">Food is good.</p>
</article>

<article class="card hover line">
  <img class="image" src="https://webstockreview.net/images/clipart-borders-pizza.png" alt="">
  
  <h2 class="title">I like food.</h2>
  
  <p class="text">Food is good.</p>
</article>
</div>
</body>
</html>