<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="#" method="post" target="_blank">
        <div class="wrapper">
            <div class="login">
                <div class="login-form">
                    <h1 class="login-title">Login</h1>
                    <div class="form-wrapper">
                        <div class="input-wrapper">
                            <label class="label" for="email">Email Address</label>
                            <input class="input" type="text" id="email" name="username" required autocomplete="off" />
                        </div><br>
                        <div class="input-wrapper">
                            <label class="label" for="password">Password</label>
                            <input class="input" type="password" id="password" name="password" required />
                        </div>
                        <div class="action-help">
                            <a class="help-link" href="#">Forgot your password?</a>
                        </div>
                        <div class="actions">
                            <input class="action" type="submit" value="Login" />
                            <div class="signup-action">
                                Don't have an account? &nbsp <a class="signup-link" href="#">Sign Up</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="login-decoration">

                </div>
            </div>
        </div>
    </form>
</body>

</html>